@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css);
body {
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: "Pretendard", sans-serif;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.red {
  color: #ed1b23 !important;
}

.black {
  color: black !important;
}

figure > img {
  max-width: 100%;
}

.brand_box {
  display: flex;
  justify-content: space-between;
  padding: 3.75rem 0 0;
}
.brand_box .item figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  background-color: #f7f7f7;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.brand_box .item em {
  display: block;
  color: #666;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  font-style: normal;
  margin-top: 0.625rem;
}
.brand_box .item:hover figure {
  background-color: #e7e7e7;
}

.menu {
  display: block;
  position: relative;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  margin-right: 1.75rem;
  background-color: transparent;
  transition: 0.5s;
}
.menu div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  margin-left: -0.75rem;
  width: 1.5rem;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  transition: 0.5s;
}
.menu .l1 {
  top: 34%;
}
.menu .l3 {
  top: 68%;
}

.menu.on {
  background-color: black;
}
.menu.on div {
  background-color: white;
}
.menu.on .l1 {
  top: 50%;
  animation-name: l1_rotate;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.menu.on .l2 {
  width: 0px;
}
.menu.on .l3 {
  top: 50%;
  animation-name: l3_rotate;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.tag i {
  display: inline-flex;
  align-items: center;
  height: 1.25rem;
  color: #000;
  font-size: 0.6875rem;
  font-style: normal;
  line-height: 1.25rem;
  font-weight: 700;
  border-radius: 0.8125rem;
  background-color: #f1f1f1;
  padding: 0 0.625rem;
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.tag i.point {
  background-color: #ffd802;
  padding-left: 0.25rem;
}
.tag i.point::before {
  content: "P";
  padding-top: 0.0625rem;
  color: #000;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  text-align: center;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 0.1875rem;
}

i.sale {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.125rem;
  height: 2.375rem;
  background: url(../img/main/icon/sale.svg) no-repeat center center/cover;
  color: #fff;
  font-size: 0.75rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  text-indent: initial;
}

i.sale::after {
  content: "%";
  font-size: 0.5625rem;
}

i.reserve {
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #9071cb;
}

i.new {
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #4c51b9;
}

@keyframes l1_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes l3_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  width: 100%;
  position: sticky;
  z-index: 200;
  top: -60px;
}
header .header_up {
  width: 100%;
  height: 60px;
  background-color: #222;
}
header .header_up .container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2.1875rem;
  box-sizing: border-box;
}
header .header_up .container .link_box {
  display: flex;
}
header .header_up .container .link_box li {
  position: relative;
  z-index: 1;
  margin: 0 0.625rem;
}
header .header_up .container .link_box li a {
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  padding: 0 1.25rem;
}
header .header_up .container .link_box li.on {
  width: 160px;
  display: flex;
  justify-content: center;
}
header .header_up .container .link_box li.on a {
  color: #111;
  font-size: 1rem;
  font-weight: 800;
  position: relative;
  z-index: 1;
  top: 4px;
}
header .header_up .container .link_box li.on .bg {
  height: 60px;
  width: 80px;
  position: absolute;
  bottom: -22px;
  background-image: url(../img/main/header/link_box_m.jpg);
}
header .header_up .container .link_box li.on .bg::before {
  content: "l";
  font-size: 0;
  height: 60px;
  width: 100px;
  position: absolute;
  left: -55px;
  bottom: 0px;
  background-image: url(../img/main/header/link_box_l.jpg);
  background-repeat: no-repeat;
}
header .header_up .container .link_box li.on .bg::after {
  content: "r";
  font-size: 0;
  height: 60px;
  width: 100px;
  position: absolute;
  right: -100px;
  bottom: 0px;
  background-image: url(../img/main/header/link_box_r.jpg);
  background-repeat: no-repeat;
}
header .header_up .container .link_box li:not(li.on):hover a::before {
  content: "bg";
  font-size: 0;
  position: absolute;
  z-index: -1;
  background-color: #393939;
  transition: 0.35s;
  border-radius: 3.125rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2.5rem;
}
header .header_up .container .member_box {
  display: flex;
}
header .header_up .container .member_box li {
  display: flex;
  align-items: center;
}
header .header_up .container .member_box li a {
  color: #fff;
  font-size: 0.75rem;
  padding: 0.3125rem;
}
header .header_up .container .member_box li:not(li:first-child)::before {
  content: "line";
  display: block;
  background-color: #333;
  font-size: 0;
  width: 1px;
  height: 10px;
  margin: 0 0.625rem;
}
header .header_down {
  height: 128px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  box-sizing: border-box;
  background-color: white;
}
header .header_down .container {
  height: 100%;
  max-width: 1280px;
  padding: 0 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
header .header_down .container .logo {
  display: flex;
  align-items: center;
  overflow: hidden;
}
header .header_down .container .logo .menu {
  left: -4.75rem;
  transition: 0.5s;
}
header .header_down .container .logo h1 {
  position: relative;
  left: -4.75rem;
  transition: 0.5s;
}
header .header_down .container .search {
  width: 28.75rem;
  height: 3rem;
  border: 2px solid #000;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
header .header_down .container .search form {
  display: flex;
  justify-content: space-between;
}
header .header_down .container .search form #search_text {
  font-size: 1rem;
  width: 25.75rem;
  height: 2.75rem;
  border: 0;
  padding: 0 1.875rem 0 1rem;
  outline: none;
  font-weight: 400;
  box-sizing: border-box;
}
header .header_down .container .search form #search_text::-moz-placeholder {
  font-size: 0.95rem;
  font-weight: 500;
  color: #979797;
}
header .header_down .container .search form #search_text::placeholder {
  font-size: 0.95rem;
  font-weight: 500;
  color: #979797;
}
header .header_down .container .search form #search_btn {
  width: 2.75rem;
  height: 2.75rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../img/main/header/icon/search_btn.png);
}
header .header_down .container .btn_box {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
header .header_down .container .btn_box a {
  position: relative;
  display: flex;
  flex-direction: column;
}
header .header_down .container .btn_box a figure {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  overflow: hidden;
}
header .header_down .container .btn_box a figure img {
  width: 100%;
}
header .header_down .container .btn_box a em {
  color: #666;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.3125rem;
  transition: 0.5s;
}
header .header_down .container .btn_box a .num {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  min-width: 1.25rem;
  background-color: #ed1b23;
  border-radius: 1.25rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_down.scroll {
  height: 88px;
}
header .header_down.scroll .logo .menu,
header .header_down.scroll .logo h1 {
  left: 0;
}
header .header_down.scroll .btn_box a em {
  font-size: 0;
}

.side_menu {
  position: sticky;
  z-index: 199;
  top: 48px;
  width: 100%;
  height: 80px;
  background-color: white;
  box-sizing: border-box;
}

.side_menu > .container {
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  z-index: 2;
  max-width: 1280px;
  padding: 0 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.side_menu > .container .left {
  display: flex;
  align-items: center;
}
.side_menu > .container .left .category {
  display: flex;
  align-items: center;
  height: 2.375rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 2.375rem;
  padding: 0 1.25rem 0 0.875rem;
  background-color: #666;
  margin-right: 0.6rem;
}
.side_menu > .container .left .category::before {
  content: "icon";
  font-size: 0;
  width: 1.25rem;
  height: 1.3125rem;
  margin-right: 0.3125rem;
}
.side_menu > .container .left .category.first {
  background-color: #8767ca;
}
.side_menu > .container .left .category.first::before {
  background: url(../img/main/header/icon/category/salebysub.png) no-repeat center center;
}
.side_menu > .container .left .category.second {
  background-color: #4b54b4;
}
.side_menu > .container .left .category.second::before {
  background: url(../img/main/header/icon/category/newprd.png) no-repeat center center;
}
.side_menu > .container .left .category.third {
  background-color: #4dac5c;
}
.side_menu > .container .left .category.third::before {
  background: url(../img/main/header/icon/category/restock.png) no-repeat center center;
}
.side_menu > .container .left .category.fourth {
  background-color: #29a2a2;
}
.side_menu > .container .left .category.fourth::before {
  background: url(../img/main/header/icon/category/download.png) no-repeat center center;
}
.side_menu > .container .right {
  display: flex;
  align-items: center;
}
.side_menu > .container .right .hotlink {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 0;
  margin-left: 2.75rem;
}
.side_menu > .container .right .hotlink::before {
  content: "icon";
  font-size: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.1875rem;
}
.side_menu > .container .right .hotlink.first::before {
  background: url(../img/main/header/icon/hotlink/best.png) no-repeat center center;
}
.side_menu > .container .right .hotlink.second::before {
  background: url(../img/main/header/icon/hotlink/eventncoupon.png) no-repeat center center;
}
.side_menu > .container .right .hotlink.third::before {
  background: url(../img/main/header/icon/hotlink/attendcheck.png) no-repeat center center;
}

.sub_menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: white;
  transition: 0.5s;
  border: 0px;
}
.sub_menu .container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1.875rem 2.5rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.sub_menu .container .menu_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sub_menu .container .menu_box .depth_wrap {
  display: flex;
}
.sub_menu .container .menu_box .depth_wrap .depth {
  padding: 0 5rem 0 1.25rem;
  box-sizing: border-box;
  min-width: 240px;
  width: 100%;
  max-height: 332px;
  border-right: 1px solid #f1f1f1;
  overflow-y: auto;
  display: none;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.sub_menu .container .menu_box .depth_wrap .depth li {
  position: relative;
}
.sub_menu .container .menu_box .depth_wrap .depth li a {
  position: relative;
  display: block;
  color: #000;
  opacity: 0.5;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.3125rem 0;
  transition: 0.2s;
}
.sub_menu .container .menu_box .depth_wrap .depth li:hover a {
  color: #ed1b23;
  opacity: 1;
}
.sub_menu .container .menu_box .depth_wrap .depth li::after {
  content: "arrow";
  font-size: 0;
  position: absolute;
  right: -3rem;
  top: 0px;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../img/main/header/icon/menu_arrow.png);
  background-position: 0px 24px;
  opacity: 0;
  transition: opacity 0.2s;
}
.sub_menu .container .menu_box .depth_wrap .depth li:hover::after {
  opacity: 1;
}
.sub_menu .container .menu_box .depth_wrap .depth li + li {
  margin-top: 0.75rem;
}
.sub_menu .container .menu_box .depth_wrap .depth li.on a {
  opacity: 1;
}
.sub_menu .container .menu_box .depth_wrap .depth li.on::after {
  background-position: 0px 48px;
  opacity: 1;
}
.sub_menu .container .menu_box .depth_wrap .depth.on {
  display: block;
}
.sub_menu .container .menu_box .depth_wrap .depth.first {
  padding: 0 5rem 0 0rem;
}
.sub_menu .container .menu_box .depth_wrap .depth.second,
.sub_menu .container .menu_box .depth_wrap .depth.third {
  display: none;
}
.sub_menu .container .menu_box .depth_wrap .depth.second.on,
.sub_menu .container .menu_box .depth_wrap .depth.third.on {
  display: block;
}
.sub_menu .container .menu_box .depth_wrap .depth::-webkit-scrollbar {
  width: 2px;
}
.sub_menu .container .menu_box .depth_wrap .depth::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.sub_menu .container .menu_box .depth_wrap .depth::-webkit-scrollbar-thumb {
  background-color: black;
}
.sub_menu .container .menu_box .depth_wrap .depth::-webkit-scrollbar-button {
  display: none;
}

.sub_menu.on {
  height: 610px;
  border-bottom: 1px solid black;
}/*# sourceMappingURL=common.css.map */