@charset "UTF-8";
@keyframes downUp {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes downUp2 {
  0% {
    transform: translate(0, 3.125rem);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
main {
  background-color: white;
  height: 5000px;
}

.more_btn {
  display: block;
  width: 8.5rem;
  margin: 0 auto;
  color: #000;
  font-weight: 600;
  line-height: 3.625rem;
  padding: 0 1.875rem;
  border-radius: 3.75rem;
  border: 1px solid #eee;
  background: url(../img/main/icon/plus.png) no-repeat right 1.5rem center;
  margin-top: 3rem;
}

h2 {
  color: #000;
  font-size: 2.125rem;
  font-weight: 600;
  text-align: center;
}

.sec1 {
  position: relative;
  width: 100%;
  height: 33.75rem;
}
.sec1 .container .slider {
  width: 100%;
  height: 33.75rem;
}
.sec1 .container .slider .card {
  position: relative;
  display: block;
  width: 100%;
  height: 33.75rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec1 .container .slider .card .card_con {
  display: flex;
  align-items: center;
  max-width: 80rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
}
.sec1 .container .slider .card .card_con .text_box .title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.075rem;
  transform: translate(0, 3.125rem);
  opacity: 0;
  animation-name: downUp2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  line-height: 1.25;
}
.sec1 .container .slider .card .card_con .text_box .text {
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: -0.075rem;
  margin-top: 1.25rem;
  transform: translate(0, 3.125rem);
  opacity: 0;
  animation-name: downUp2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  line-height: 1.25;
}
.sec1 .container .slider .card .card_con .text_box .more {
  display: inline-block;
  min-width: 11.875rem;
  color: #000;
  font-weight: 600;
  line-height: 3.75rem;
  background: #fff url(../img/main/sec1/icon/more.png) no-repeat right 1.5rem center;
  border-radius: 3.75rem;
  padding: 0 1.875rem;
  box-sizing: border-box;
  margin-top: 2.5rem;
  transform: translate(0, 3.125rem);
  opacity: 0;
  animation-name: downUp2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
.sec1 .container .slider .card.first {
  background-image: url(../img/main/sec1/slider_bg/1.jpg);
}
.sec1 .container .slider .card.second {
  background-image: url(../img/main/sec1/slider_bg/2.jpg);
}
.sec1 .container .slider .card.third {
  background-image: url(../img/main/sec1/slider_bg/3.jpg);
}
.sec1 .container .slider .card.fourth {
  background-image: url(../img/main/sec1/slider_bg/4.jpg);
}
.sec1 .container .slider .card.second .text_box .title,
.sec1 .container .slider .card.second .text_box .text,
.sec1 .container .slider .card.third .text_box .title,
.sec1 .container .slider .card.third .text_box .text {
  color: black;
}
.sec1 .container .slide_page {
  position: absolute;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 100%;
}
.sec1 .container .slide_page .container {
  height: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.sec1 .container .slide_page .container .wrap {
  position: relative;
  display: flex;
  align-items: center;
  bottom: 1.25rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  padding: 0 0.625rem;
}
.sec1 .container .slide_page .container .wrap .now {
  width: 2rem;
}
.sec1 .container .slide_page .container .wrap span {
  position: relative;
  display: inline-block;
  width: 2rem;
  color: #fff;
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}
.sec1 .container .slide_page .container .wrap .line {
  width: 1px;
  height: 0.625rem;
  opacity: 0.5;
  background-color: white;
}
.sec1 .container .arrow_box {
  width: 100%;
  height: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 50%;
}
.sec1 .container .arrow_box button {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-image: url(../img/main/sec1/slide_arrow.png);
  background-color: transparent;
  overflow: hidden;
}
.sec1 .container .arrow_box button.right {
  background-position-x: -6rem;
}

.sec2 .container {
  max-width: 80rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.sec2 .container .ad_box {
  position: relative;
  padding: 3.75rem 0 0;
}
.sec2 .container .ad_box .arrow_box {
  width: 100%;
  height: 0;
  justify-content: space-between;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 58%;
}
.sec2 .container .ad_box .arrow_box button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(../img/main/icon/slide_arrow.png);
  border-radius: 100%;
  border: 1px solid #eee;
}
.sec2 .container .ad_box .arrow_box button.left {
  position: relative;
  left: -1.25rem;
  background-position-x: -0.05rem;
}
.sec2 .container .ad_box .arrow_box button.right {
  position: relative;
  left: 1.25rem;
  background-position-x: -2.5rem;
}
.sec2 .container .ad_box .img_box a img {
  width: 75rem;
}
.sec2 .container .prom_box {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 0;
}
.sec2 .container .prom_box .card {
  display: block;
  width: calc(16.6666666667% - 1.5rem);
}
.sec2 .container .prom_box .card .img_box {
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  overflow: hidden;
}
.sec2 .container .prom_box .card .text_box {
  margin-top: 1.125rem;
  display: flex;
  flex-direction: column;
}
.sec2 .container .prom_box .card .text_box .sub {
  color: #888;
  font-size: 0.75rem;
  padding-bottom: 0.4rem;
}
.sec2 .container .prom_box .card .text_box .name {
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
}

.sec3 {
  margin: 6.25rem auto 0;
}
.sec3 .container {
  max-width: 81.5rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.sec3 .container .card_list {
  position: relative;
}
.sec3 .container .card_list .slider {
  margin-top: 1.875rem;
}
.sec3 .container .card_list .slider .card {
  margin: 0 0.75rem;
  width: 17.625rem;
}
.sec3 .container .card_list .slider .card .thum {
  overflow: hidden;
  position: relative;
}
.sec3 .container .card_list .slider .card .thum .img_box {
  border-radius: 0.75rem;
  overflow: hidden;
}
.sec3 .container .card_list .slider .card .thum .icon_box {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.sec3 .container .card_list .slider .card .thum .hover_box {
  display: none;
  align-items: flex-end;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.96) 0%, rgba(0, 0, 0, 0.75) 15%, rgba(0, 0, 0, 0) 70%);
}
.sec3 .container .card_list .slider .card .thum .hover_box .quick {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
}
.sec3 .container .card_list .slider .card .thum .hover_box .quick a {
  position: relative;
  width: 33.3333333333%;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.625rem 0 0.85rem 0;
  animation-name: downUp;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.sec3 .container .card_list .slider .card .thum .hover_box .quick a.new::before {
  background-position-x: -7.5rem;
}
.sec3 .container .card_list .slider .card .thum .hover_box .quick a.like::before {
  background-position-x: -2.5rem;
}
.sec3 .container .card_list .slider .card .thum .hover_box .quick a:not(a:first-child)::after {
  content: "line";
  font-size: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%);
}
.sec3 .container .card_list .slider .card .thum .hover_box .quick a::before {
  content: "icon";
  font-size: 0;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.125rem;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/main/icon/pord_list_icon.svg);
  background-repeat: no-repeat;
  background-size: 12.5rem 7.75rem;
  filter: invert(1);
}
.sec3 .container .card_list .slider .card .thum .hover_box a.blank {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec3 .container .card_list .slider .card .thum:hover .hover_box {
  display: flex;
}
.sec3 .container .card_list .slider .card .text_box {
  display: flex;
  flex-direction: column;
}
.sec3 .container .card_list .slider .card .text_box .title {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.sec3 .container .card_list .slider .card .text_box .title .sub {
  color: #333;
  font-size: 0.8125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.sec3 .container .card_list .slider .card .text_box .title .name {
  color: #333;
  line-height: 1.325;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sec3 .container .card_list .slider .card .text_box .price {
  margin-top: 0.75rem;
}
.sec3 .container .card_list .slider .card .text_box .price span.real {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}
.sec3 .container .card_list .slider .card .text_box .price span.real::after {
  content: "원";
  font-size: 0.875rem;
}
.sec3 .container .card_list .slider .card .text_box .price span.cost {
  color: #888;
  font-size: 0.875rem;
  text-decoration: line-through;
  margin-left: 0.3125rem;
}
.sec3 .container .card_list .slider .card .text_box .price span.cost::after {
  content: "원";
}
.sec3 .container .card_list .slider .card .text_box .tag {
  margin-top: 0.75rem;
}
.sec3 .container .card_list .arrow_box {
  width: 100%;
  height: 0;
  justify-content: space-between;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 28%;
}
.sec3 .container .card_list .arrow_box button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(../img/main/icon/slide_arrow.png);
  border-radius: 100%;
  border: 1px solid #eee;
}
.sec3 .container .card_list .arrow_box button.left {
  position: relative;
  left: -0.5625rem;
  background-position-x: -0.05rem;
}
.sec3 .container .card_list .arrow_box button.right {
  position: relative;
  left: 0.5625rem;
  background-position-x: -2.5rem;
}

.sec4 {
  width: 100%;
  overflow: hidden;
  margin-top: 6.25rem;
  padding: 5rem 0 6.25rem;
  background-color: #f1f1f1;
}
.sec4 .container {
  display: flex;
  max-width: 80rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.sec4 .container div.left {
  position: relative;
  width: 19.125rem;
  flex-shrink: 0;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
  box-sizing: border-box;
}
.sec4 .container div.left .text_box .sub {
  color: #000;
  font-weight: 600;
}
.sec4 .container div.left .text_box .title {
  color: #000;
  font-size: 2.125rem;
  font-weight: 700;
  letter-spacing: -0.075rem;
  margin-top: 0.5rem;
  line-height: 1.2;
}
.sec4 .container div.left .text_box .text {
  color: #000;
  margin-top: 1.25rem;
  line-height: 1.3;
}
.sec4 .container div.left .arrow_box {
  display: flex;
}
.sec4 .container div.left .arrow_box button {
  width: 3.75rem;
  height: 3.75rem;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  text-indent: -250%;
  overflow: hidden;
  background: #fff url(../img/main/icon/slide_arrow2.png) no-repeat left 0rem center/7.5rem 3.75rem;
}
.sec4 .container div.left .arrow_box button.right {
  margin-left: 1.25rem;
  background-position-x: -3.625rem;
}
.sec4 .container .right {
  position: relative;
}
.sec4 .container .right .slider {
  width: 57.375rem;
}
.sec4 .container .right .slider .card {
  margin: 0 0.75rem;
  width: 17.625rem;
}
.sec4 .container .right .slider .card .thum {
  overflow: hidden;
  position: relative;
}
.sec4 .container .right .slider .card .thum .img_box {
  border-radius: 0.75rem;
  overflow: hidden;
}
.sec4 .container .right .slider .card .thum .hover_box {
  display: none;
  align-items: flex-end;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.96) 0%, rgba(0, 0, 0, 0.75) 15%, rgba(0, 0, 0, 0) 70%);
}
.sec4 .container .right .slider .card .thum .hover_box .quick {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
}
.sec4 .container .right .slider .card .thum .hover_box .quick a {
  position: relative;
  width: 33.3333333333%;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.625rem 0 0.85rem 0;
  animation-name: downUp;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.sec4 .container .right .slider .card .thum .hover_box .quick a.new::before {
  background-position-x: -7.5rem;
}
.sec4 .container .right .slider .card .thum .hover_box .quick a.like::before {
  background-position-x: -2.5rem;
}
.sec4 .container .right .slider .card .thum .hover_box .quick a:not(a:first-child)::after {
  content: "line";
  font-size: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%);
}
.sec4 .container .right .slider .card .thum .hover_box .quick a::before {
  content: "icon";
  font-size: 0;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.125rem;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/main/icon/pord_list_icon.svg);
  background-repeat: no-repeat;
  background-size: 12.5rem 7.75rem;
  filter: invert(1);
}
.sec4 .container .right .slider .card .thum .hover_box a.blank {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec4 .container .right .slider .card .thum:hover .hover_box {
  display: flex;
}
.sec4 .container .right .slider .card .text_box {
  display: flex;
  flex-direction: column;
}
.sec4 .container .right .slider .card .text_box .title {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.sec4 .container .right .slider .card .text_box .title .sub {
  color: #333;
  font-size: 0.8125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.sec4 .container .right .slider .card .text_box .title .name {
  color: #333;
  line-height: 1.325;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sec4 .container .right .slider .card .text_box .price {
  margin-top: 0.75rem;
}
.sec4 .container .right .slider .card .text_box .price span.real {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}
.sec4 .container .right .slider .card .text_box .price span.real::after {
  content: "원";
  font-size: 0.875rem;
}
.sec4 .container .right .slider .card .text_box .price span.cost {
  color: #888;
  font-size: 0.875rem;
  text-decoration: line-through;
  margin-left: 0.3125rem;
}
.sec4 .container .right .slider .card .text_box .price span.cost::after {
  content: "원";
}
.sec4 .container .right .slider .card .text_box .tag {
  margin-top: 0.75rem;
}
.sec4 .container .right .slider .card .text_box .tag i {
  background-color: #ddd;
}
.sec4 .container .right .slider::before {
  content: "bg";
  position: absolute;
  background-color: #f1f1f1;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.sec4 .container .right .progress {
  position: absolute;
  bottom: -1.625rem;
  height: 1px;
  width: 100%;
  overflow: hidden;
  background-color: #ddd;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.4s ease-in-out;
}
.sec4 .container .right .progress .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sec5 {
  margin-top: 8.125rem;
}
.sec5 .container {
  max-width: 80rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.sec5 .container .btn_box {
  margin: 2.5rem auto 0;
}
.sec5 .container .btn_box .big {
  display: block;
  width: 36.75rem;
  height: 36.75rem;
  border-radius: 1.25rem;
  background-color: #888;
  overflow: hidden;
}
.sec5 .container .btn_box .small a {
  width: 17.625rem;
}/*# sourceMappingURL=index.css.map */